body {
    background: #333;
    color: #ddd;
    padding: 32px;
    margin: 0;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#top {
    text-decoration: none;
    font-size: 29px;
    position: fixed;
    right: 32px;
    bottom: 22px;
    background: #00000040;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    padding: 5px 0 5px 11px;
}
body.rainbow {
    text-shadow: 0 0 8px #000;
}

section#main {
    padding: 42px 0;
}


a {
    color: darkkhaki;
}

a:hover {
    color: #fff;
}

nav {
    display: flex;
}
nav button {
    margin: 12px 6px 12px 0;
}

.hidden {
    display: none;
}

form {
    width: 200px;
}

textarea {
    display: block;
    max-width: 400px;
    width: 100%;
}
textarea,
button,
input {
    margin-bottom: 5px;
    background: #222;
    border: 1px solid #000;
    border-radius: 4px;
    font-size: 15px;
    padding: 5px;
    color: darkkhaki;
    cursor: pointer;
}

button:hover,
input:hover {
    background: #444;
    color: #aaa;
}
input[type="submit"] {
    cursor: pointer;
    text-transform: uppercase;
}
.btn {
    cursor: pointer;
    text-decoration: underline;
}


#settings-content {
    padding: 32px;
    background: #333;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}


#balance {
    font-size: 32px;
    margin-top: 0;
}

h3 {
    color: #f7931a;
}
#sats {
    font-size: 70px;
    color: #f7931a;
}

.qrcode {
    background: #aaa;
    width: 200px;
}

.paylink {
    max-width: 340px;
}

#paylinks p {
    word-break: break-all;
}
#paylinks > * {
    padding-right: 28px;
}

#user-info {
    margin-bottom: 32px;
}

@media (min-width: 550px) {
    #user-info,
    #paylinks {
        display: flex;
    }
}

#payment-list {
    padding: 0;
    list-style: none;
}
#payment-list li {
    margin-bottom: 16px;
}
#payment-list .sent .amount {
    color: red;
}
#payment-list .receive .amount{
    color: green;
}
#payment-list .amount {
    padding: 0px 6px;
    background: #222;
    border-radius: 11px;
    display: inline-block;
    margin-right: 6px;
    position: relative;
    border: 1px solid #000;
}
#payment-list .date {
    color: darkkhaki;
    margin-right: 9px;
}
#payment-list .memo {
    display: block;
    word-break: break-all;
}

.pending {
    opacity: 0.5;
}

.rainbow{
  background: linear-gradient(to top, red,green,blue,indigo,violet,red);
  background-repeat:repeat-y;
  -webkit-animation:go 10s linear infinite;
  -moz-animation:go 10s linear infinite;
  animation:go 10s linear infinite;
}

@keyframes go{
  0%{background-position:0;}
  100%{background-position:0 -7100px;}
}


.hole-container {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: -1;
}

body.hole i {
  display: block;
  position: absolute;
  width: 140px;
  height: 140px;
  left: -70px;
  top: -70px;
  border-radius: 140px;
  opacity: 0;
  animation-name: scale;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

i:nth-child(1) {
  animation-delay: 0.3s;
}

i:nth-child(2) {
  animation-delay: 0.6s;
}

i:nth-child(3) {
  animation-delay: 0.9s;
}

i:nth-child(4) {
  animation-delay: 1.2s;
}

i:nth-child(5) {
  animation-delay: 1.5s;
}

i:nth-child(6) {
  animation-delay: 1.8s;
}

i:nth-child(7) {
  animation-delay: 2.1s;
}

i:nth-child(8) {
  animation-delay: 2.4s;
}

i:nth-child(9) {
  animation-delay: 2.7s;
}

i:nth-child(10) {
  animation-delay: 3s;
}

@keyframes scale {
  0% {
    transform: scale(2);
    opacity: 0;
    box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.5);
  }
  50% {
    transform: scale(1) translate(0px, -5px);
    opacity: 1;
    box-shadow: 0px 8px 20px rgba(255, 255, 255, 0.5);
  }
  100% {
    transform: scale(0.1) translate(0px, 5px);
    opacity: 0;
    box-shadow: 0px 10px 20px rgba(255, 255, 255, 0);
  }
}

canvas {
    position: fixed;
    z-index:-1;
    top: 0;
    left: 0;
}

.payform {
    background: #e5960087;
    padding: 1px 29px 12px 14px;
    border-radius: 5px;
    border: 1px solid black;
    display: inline-block;
    margin-top: 14px;
    color: #000;
}
.payform .sats {
    font-size: 24px;
}
.payform h3 {
    color: #000;
}
.payform label {
    font-weight: bold;
    display: block;
}
.payform label .info {
    font-weight: normal;
    font-size: 0.79em;
    margin-bottom: 8px;
}
.payform button {
    font-size: 24px;
    text-transform: uppercase;
    margin-right: 10px;
    font-weight: bold;
    margin-top: 14px;
}

.ring {
  position:relative;
  /* top:50%; */
  /* left:50%; */
  /* transform:translate(-50%,-50%); */
  margin: 26px 0;
  width:150px;
  height:150px;
  background:transparent;
  border:3px solid #3c3c3c;
  border-radius:50%;
  text-align:center;
  line-height:150px;
  font-family:sans-serif;
  font-size:20px;
  color: #f7931a;
  letter-spacing:4px;
  text-transform:uppercase;
  text-shadow:0 0 10px #f7931a;
  box-shadow:0 0 20px rgba(0,0,0,.5);
}
.ring:before {
  content:'';
  position:absolute;
  top:-3px;
  left:-3px;
  width:100%;
  height:100%;
  border:3px solid transparent;
  border-top:3px solid #f7931a;
  border-right:3px solid #f7931a;
  border-radius:50%;
  animation:animateC 2s linear infinite;
}
.ring span {
  display:block;
  position:absolute;
  top:calc(50% - 2px);
  left:50%;
  width:50%;
  height:4px;
  background:transparent;
  transform-origin:left;
  animation:animate 2s linear infinite;
}
.ring span:before {
  content:'';
  position:absolute;
  width:16px;
  height:16px;
  border-radius:50%;
  background: #f7931a;
  top:-6px;
  right:-8px;
  box-shadow:0 0 20px #f7931a;
}
@keyframes animateC {
  0% {
    transform:rotate(0deg);
  }
  100% {
    transform:rotate(360deg);
  }
}
@keyframes animate {
  0% {
    transform:rotate(45deg);
  }
  100% {
    transform:rotate(405deg);
  }
}

#pay.error .payform,
form.error input:not([type=submit]) {
    border-color: red;
}
span.error {
    display: block;
    margin-bottom: 5px;
    color: red;
}

#pay.error span.error {
    border: 1px solid red;
    display: block;
    margin-bottom: 5px;
    color: red;
    font-weight: bold;
    background: #222;
    padding: 5px;
    margin-top: 12px;
    border-radius: 4px;
}

footer button {
    margin-right: 6px;
}
